@model List<UserDetailsVM>
@using Agri_Ene.ViewModel
<h2 class="display-5 link-body-emphasis">Manage Farmer Profiles</h2>

<hr>

<body>
    <div class="row">
        @foreach (var userDetails in Model)
        {
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="card h-100 p-2 rounded-3" style="background-color: rgba(159, 201, 141, 0.7); color: white; ">
                    <div class="card-header">
                        <h2 class="display-6 "> Farmer Profile</h2>
                    </div>
                    <div class="card-body px-4">
                        <h5 class="card-title h-100 p-1">
                            <p class="card-text"> Name: @userDetails.FirstName @userDetails.LastName</p>
                            <p class="card-text">Email: @userDetails.Email</p>
                            <p class="card-text">Phone: @userDetails.PhoneNumber</p>
                            <p class="card-text">Produt listings: @userDetails.Products.Count</p>
                           </h5>
                    </div>
                    <a class="btn btn-outline-light" type="button" asp-area="" asp-controller="Employee" asp-action="FarmerList" asp-route-farmerName="@userDetails.FirstName"> Manage All Products</a>
                </div>
            </div>
        }
    </div>
</body>
